@tailwind base;
@tailwind components;
@tailwind utilities;
@import "flowbite";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-track{
  width: 100% !important;
  opacity: 1;
}
.keen-slider__slide{
  min-width: 350.1px !important;
    max-width: 384.1px !important;
  }
  .keen-slider__slide1{
    min-width: 50% !important;
    max-width: 52% !important;
  }
  .keen-slider_slide2{
    min-width: 30% !important;
    max-width: 28% !important;
    min-height: 400px !important;
  }


  @media (max-width: 578px) {
    .keen-slider__slide {
      min-width: 100% !important; 
    }
  }
  @media (max-width: 1280px) {
    .keen-slider_slide1 {
      min-width: 50% !important; 
    }
  }
  
  
  @media (max-width: 1280px) {
    .keen-slider_slide2 {
      min-width: 35% !important; 
    }
  }
  
  @media (max-width: 1024px) {
    .keen-slider_slide2 {
      min-width: 40% !important; 
    }
  }
 
  
  @media (max-width: 568px) {
    .keen-slider_slide2 {
      min-width: 100% !important; 
    }
    @media (min-width: 570px) and (max-width: 780px) {
      .keen-slider_slide2 {
        min-width: 50% !important; 
        max-width: 50% !important;
      }
    }
    
  }
  
